.questionnaire {
    width: 100%;
    padding: 30px 20px;
}
.questionnaire_img {
    display: block;
    margin: 0 auto;
    width: 140.1px;
    height: 35px;
    margin-bottom: 40px;
}
.questionnaire_title {
    font-family: "EdgecuttingLiteMedium";
font-size: 24px;
font-weight: 500;
line-height: 21.6px;
text-align: center;
color: #1907EC;
margin-bottom: 20px;

}
label p{
    font-family: "EdgecuttingLiteMedium";
font-size: 20px;
font-weight: 500;
line-height: 19.2px;
text-align: left;
color: #1907EC4D;
/* background-color: cyan; */



}

.form_div{
    padding: 10px 10px;
}

.form_ul{
    width: 100%;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-bottom: 2px solid #F32044;


}
.form_ul li{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.circle{
    position: absolute;
    z-index: -1;
    left: 0;
    min-width: 25px;
    min-height: 25px;
    border: 2px solid #1907EC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square{
    position: absolute;
    z-index: -1;
    left: 0;
    min-width: 25px;
    min-height: 25px;
    border: 2px solid #1907EC;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle div{
    min-width: 15px;
    min-height: 15px;
    border-radius: 50%;

}
.child_div{
    min-width: 15px;
    min-height: 15px;
}
.active{
    background-color: #1907EC
}

.form_ul li p{
    width: 100%;
    padding-left: 40px;
    padding-right: 10px;
    padding-top:15px;
    padding-bottom:15px;
    font-family: "EdgecuttingLiteMedium";
font-size: 16px;
font-weight: 500;
line-height: 19.2px;
text-align: left;
color: #1907EC;
}
.form_input{
    width: 100%;
    padding: 10px 10px;
    background-color: #F3F3F3;
    border-radius: 5px;
    font-family: "EdgecuttingLiteMedium";
font-size: 16px;
font-weight: 500;
line-height: 19.2px;
text-align: left;
color: #1907EC;
border: 2px solid  #1907EC4D;
outline: none;




}

.other_input{
    border: none;
    border-radius: 0px;
    border-bottom:2px solid  #F32044 ;
    background-color: #fff;
    outline: none;
    padding-top: 20px;
}
.other_input:focus{
    border-bottom: 2px solid  #f10a30;
}
.form_button {
    width: 100%;
    padding: 20px 60px 20px 60px;
    gap: 10px;
    border-radius: 200px;
    opacity: 0px;
    background-color: #1907ec;
    border: none;
    font-family: 'EdgecuttingLiteMedium';
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: center;

    color: #fff;

    display: block;
    margin: 0 auto;
    margin-top: 30px;
}
.form_button:hover {
    background-color: #756bfe;
}
@media screen and (max-width: 550px) {
    label p{
    font-family: "EdgecuttingLiteMedium";
font-size: 18px;
font-weight: 400;
line-height: 18.2px;
text-align: left;
color: #1907EC4D;



}

.form_div{
    padding: 10px 10px;
}
.form_ul{
    width: 100%;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form_ul li{
    width: 100%;
    display: flex;
    align-items: center;
}

.circle{
    position: absolute;
    z-index: -1;
    left: 0;
    min-width: 22px;
    min-height: 22px;
    border: 2px solid #1907EC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square{
    position: absolute;
    z-index: -1;
    left: 0;
    min-width: 22px;
    min-height: 22px;
    border: 2px solid #1907EC;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle div{
    min-width: 13px;
    min-height: 13px;
    border-radius: 50%;

}
.child_div{
    min-width: 13px;
    min-height: 13px;
}
.active{
    background-color: #1907EC
}

.form_ul li p{
     width: 100%;
    padding-left: 35px;
    padding-right: 5px;
    padding-top:15px;
    padding-bottom:15px;
    font-family: "EdgecuttingLiteMedium";
font-size: 14px;
font-weight: 400;
line-height: 18.2px;
text-align: left;
color: #1907EC;
}
}