.home{
    width: 100%;
    height: 100vh;
    padding-top: 40px;
}
.home_link{
    display: block;
    margin-bottom: 60px;
}
.home_logo{
    display: block;
    margin: 0 auto;
    width: 140.1px;
    height: 35px;
}
.home_img{
    width: 260px;
    display: block;
    height: 260px;
    margin: 0 auto;
    margin-bottom: 70px;
}
.home_title{
    font-family: Gilroy;
font-size: 36px;
font-weight: 700;
line-height: 32.4px;
text-align: center;

    color: #040404;

    margin-bottom: 30px;
}
.home_text{
    width: 83%;
    display: block;
    margin: 0 auto;
    font-family: Gilroy;
font-size: 16px;
font-weight: 400;
line-height: 19.2px;
color: #989898;
text-align: center;
    margin-bottom: 50px;
}
.home_button{
    width: 100%;
padding: 20px 60px 20px 60px;
gap: 10px;
border-radius: 200px;
opacity: 0px;
background-color:  #FFD648;
border: none;
font-family: Gilroy;
font-size: 16px;
font-weight: 400;
line-height: 19.2px;
text-align: center;
color: #040404;

display: block;
margin: 0 auto;
}
.home_button:hover{
    background-color: #FFE488;
;
}