@font-face {
    font-family: 'EdgecuttingLiteMedium';
    src: url('./assets/fonts/EdgecuttingLiteMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'EdgecuttingLiteMediumIt';
    src: url('./assets/fonts/EdgecuttingLiteMediumIt.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'EdgecuttingLiteSharp';
    src: url('./assets/fonts/EdgecuttingLiteSharp.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'EdgecuttingLiteTight';
    src: url('./assets/fonts/EdgecuttingLiteTight.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
}
ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
}
body {
  background-color: #fff;
  font-family: 'EdgecuttingLiteMedium', sans-serif;
}
.container{
  width: 92%;
  margin: 0 auto;
}