.test {
    width: 100%;
    height: 100vh;
    padding-top: 30px;
    padding-bottom: 30px;
}

.test_title {
    font-family: 'EdgecuttingLiteMedium';
    font-size: 24px;
    font-weight: 500;
    line-height: 21.6px;
    text-align: center;

    color: #1907ec;
    margin-bottom: 35px;
}

.test_question {
    padding-left: 10px;
    font-family: 'EdgecuttingLiteMedium';
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #1907ec;
    padding-top: 10px;
    margin-bottom: 30px;
}
.test_list {
    width: 100%;
    margin-bottom: 40px;
}
.test_item {
    display: block;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;

    padding: 10px 10px 10px 10px;
    gap: 10px;
    border-radius: 200px;
    opacity: 0px;
    font-family: 'EdgecuttingLiteMedium';
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: center;
    color: #1907ec;

    background-color: #f3f3f3;
    margin-bottom: 20px;
}

.test_img {
    margin-right: 15px;
}
.test_next_button {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 20px 60px 20px 60px;
    gap: 10px;
    border-radius: 200px;
    opacity: 0px;
    background-color: #1907ec;

    border: none;
    font-family: 'EdgecuttingLiteMedium';
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    text-align: center;

    color: #fff;
    margin-bottom: 20px;
}

.test_next_button:hover {
    background-color: #756bfe;
}

.progress-bar-container {
    width: 100%;
    background-color: #efefef;
    border-radius: 10px;
    height: 15px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.progress-bar {
    height: 100%;
    background-color: #f32044;

    border-radius: 10px;
    transition: width 0.5s ease;
}

.test_next_button:disabled {
    background-color: #756bfe;
}
